actionscript/.idea
Main.iml
android/.gradle
android/.idea
android/build
android/gen
project.properties
build/temp
demo_app
.DS_STORE
UserInterfaceState.xcuserstate
bin
ios/Share.xcodeproj/xcuserdata
ios/build
ios/Share.xcodeproj/project.xcworkspace/xcuserdata
build/.gradle
